main {
    width: 50%;
    margin: 15px auto; 
    text-align: center;
}

table {
    margin: 20px auto; 
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td {
    padding: 10px; 
}

.pageButtons {
    padding: 20px;   
}